$fontsize: 24px;
$fontsizeHeading1: 3em;
$fontsizeHeading2: 1.75em;
$fontsizeHeading3: 1.5em;
$fontsizeHeading4: 1.34em;
$fontsizeHeading5: 1.1em;
$fontsizeHeading6: 1em;
$fontsizeParagraph: 1em;
$fontsizeParagraphsmall: 0.9em;
$fontsizeParagraphxsmall: 0.625em;
$fontsizeParagraphxxsmall: 0.7em;

@font-face {
  font-family: "RobotoSlab";
  src: url("/assets/fonts/RobotoSlab-Regular.ttf") format("truetype"),
    url("/assets/fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("/assets/fonts/RobotoSlab-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/RobotoSlab-SemiBold.svg#RobotoSlab-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("/assets/fonts/RobotoSlab-Bold.ttf") format("truetype"),
    url("/assets/fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Focus
*:focus {
  outline: none;
}

body {
  font-size: $fontsize !important;
  line-height: 1.5;
  color: #fff;
  background: #fff;
  font-weight: 400;
  font-family: "RobotoSlab" !important;
  min-width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "RobotoSlab";
  font-weight: 400;
  margin: unset;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: $fontsizeHeading1;
}

h2,
.h2 {
  font-size: $fontsizeHeading2;
}

h3,
.h3 {
  font-size: $fontsizeHeading3;
}

h4,
.h4 {
  font-size: $fontsizeHeading4;
}

h5,
.h5 {
  font-size: $fontsizeHeading5;
}

h6,
.h6 {
  font-size: $fontsizeHeading6;
}

p,
.p,
.psmall,
.pxsmall,
.pxxsmall {
  margin: 0;
}

p,
.p {
  font-size: $fontsizeParagraph;
}

.psmall {
  font-size: $fontsizeParagraphsmall;
}

.pxsmall {
  font-size: $fontsizeParagraphxsmall;
}

.pxxsmall {
  font-size: $fontsizeParagraphxxsmall;
}

.pt-150 {
  padding-top: 150px;
}
.pb-150 {
  padding-bottom: 150px;
}

.font-light {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-green {
  color: #3a5a40;
}

.text-darkGreen {
  color: #105f0a;
}

.text-lightGreen {
  color: #c2c5aa;
}

.text-brown {
  color: #936639;
}

.text-lightBrown {
  color: #a65204;
}

.text-darkGray {
  color: #414833;
}

.shadow-white {
  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.51);
}

.bg-brown {
  background-color: #936639 !important;
  &::before {
    background-color: #936639 !important;
  }
  &::after {
    background-color: #936639 !important;
  }
}

.slick-track {
  display: flex !important;
  justify-content: space-between !important;
}

.btn-cream {
  background: #ffeaca;
  border-radius: 49px;
  color: #a65204;
  &:hover {
    color: #a65204;
    font-weight: 600;
  }
}

.btn-darkslategray {
  background-color: #657d38;
  border-radius: 36px;
  color: #fff;
  &:hover {
    color: #fff;
    font-weight: 600;
  }
}

.btn-lightgreen {
  background: #a3b18a;
  color: #fff;
  border-radius: 36px;
  &:hover {
    color: #fff;
    font-weight: 600;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 50px;

  .slick-active {
    color: #50894b;
  }

  li {
    padding: 0 20px;
    button {
      display: none !important;
    }
  }
}

.link,
.link-footer,
.label-form,
.link-mobile {
  font-size: 15px;
}

.form-control {
  background: #ffffff;
  border-radius: 19px;
  border: none;
  padding: 15px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  z-index: 1000;
  height: auto;
  padding: 10px 0;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.active {
  background-color: rgba(34, 34, 34, 0.8);
}

#menu__toggle {
  opacity: 0;
  &:checked {
    + {
      .menu__btn {
        > span {
          transform: rotate(45deg);
          &::before {
            top: 0;
            transform: rotate(0deg);
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
    }
    ~ {
      .menu__box {
        left: 0 !important;
      }
    }
  }
}
.menu__btn {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  > span {
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
    &::before {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition-duration: 0.25s;
      content: "";
      top: -8px;
    }
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition-duration: 0.25s;
      content: "";
      top: 8px;
    }
  }
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;

  .mobile {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 70px !important;
    width: 70px !important;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  cursor: pointer;
  &:hover {
    background-color: #cfd8dc;
  }
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("/assets/images/home-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.whatsapp {
  background-color: #25d366;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 3%;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  cursor: pointer;
  a {
    color: #fff;
    display: flex;
    .fa-whatsapp {
      font-size: 35px;
    }
  }
}

.close-flavor {
  color: #fff;
  position: absolute;
  z-index: 9;
  top: 3%;
  right: 3%;
  font-size: 40px;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  $fontsize: 15px;

  body {
    font-size: $fontsize !important;
  }

  .form-control {
    padding: 15px;
  }

  .link,
  .label-form,
  .link-mobile {
    font-size: 13px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 810px) {
  $fontsize: 15px;

  body {
    font-size: $fontsize !important;
  }

  .link {
    display: none;
  }

  .menu__btn {
    > span {
      display: block;
    }
  }
  .modal-dialog {
    max-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  $fontsize: 15px;

  body {
    font-size: $fontsize !important;
  }

  .link {
    display: none;
  }

  .pt-150 {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 576px) {
  $fontsize: 13px;

  body {
    font-size: $fontsize !important;
  }

  .slick-dots {
    padding-top: 30px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .modal-dialog {
    max-width: 100%;
  }
  .whatsapp {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 414px) {
  $fontsize: 13px;

  body {
    font-size: $fontsize !important;
  }

  .menu__btn {
    top: 26px;
    right: 26px;
  }
}
