* {
  padding: 0;
  margin: 0;
}

#where-to-buy {
  background-image: url("../images/where-to-buy.jpg");
  height: 100%;
  width: 100%;
  // padding: 20px 0;
}

.location {
  width: 295px !important;
  height: 295px !important;
  @media only screen and (max-width: 810px) {
    height: auto !important;
    width: auto !important;
  }
  @media only screen and (max-width: 414px) {
    width: auto !important;
  }
}

.card-order {
  background: #ffffff;
  border-radius: 22px;
  padding: 15px 20px;
  width: fit-content;
  img {
    height: 66px;
    width: auto;
    object-fit: contain;
    @media only screen and (max-width: 810px) {
      height: 40px;
    }
  }
}

.responsive {
  position: relative;
  .prev_arrow {
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    cursor: pointer;
    background: #ffc567;
    padding: 40px 0;
    width: 23px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    @media only screen and (max-width: 992px) {
      transform: translate(0, -90%);
    }
    @media only screen and (max-width: 810px) {
      transform: translate(0, -50%);
    }
  }
  .next_arrow {
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    cursor: pointer;
    background: #ffc567;
    padding: 40px 0;
    width: 23px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    @media only screen and (max-width: 992px) {
      transform: translate(0, -90%);
    }
    @media only screen and (max-width: 810px) {
      transform: translate(0, -50%);
    }
  }
}
