#flavor {
  background-color: #cddcb3;
  position: relative;
}

.card-flavor {
  position: relative;
  height: 302px;
  margin: auto;
  width: 243px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .card-flavor {
    width: 240px;
    height: 298px;
  }
}
@media only screen and (max-width: 810px) {
  .card-flavor {
    width: 180px;
    margin-bottom: 30px;
    height: 223px;
  }
}
@media only screen and (max-width: 576px) {
  .card-flavor {
    width: 130px;
    margin-bottom: 30px;
    height: 161px;
  }
}
.card-flavor img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 47px;
  -o-object-position: bottom;
     object-position: bottom;
}
@media only screen and (max-width: 810px) {
  .card-flavor img {
    border-radius: 27px;
  }
}
.card-flavor .food-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #50b948;
  border-radius: 0px 0px 27px 27px;
  padding: 13px 0;
}
@media only screen and (max-width: 576px) {
  .card-flavor .food-desc {
    padding: 8px 0;
  }
}
.card-flavor .food-desc p {
  font-size: 18px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .card-flavor .food-desc p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 414px) {
  .card-flavor .food-desc p {
    font-size: 10px;
  }
}

.icon-flavor-1 {
  position: absolute;
  top: 17%;
  left: 5%;
}
@media only screen and (max-width: 992px) {
  .icon-flavor-1 {
    left: 2%;
    width: 60px;
  }
}
@media only screen and (max-width: 414px) {
  .icon-flavor-1 {
    left: 2%;
    width: 40px;
    top: 14%;
  }
}

.icon-flavor-2 {
  position: absolute;
  right: 3%;
  top: 13%;
}
@media only screen and (max-width: 992px) {
  .icon-flavor-2 {
    top: 15%;
    width: 60px;
  }
}
@media only screen and (max-width: 414px) {
  .icon-flavor-2 {
    top: 13%;
    width: 40px;
  }
}

.icon-flavor-3 {
  position: absolute;
  top: 60%;
  left: 5%;
}
@media only screen and (max-width: 992px) {
  .icon-flavor-3 {
    top: 67%;
    left: 3%;
    width: 80px;
  }
}
@media only screen and (max-width: 576px) {
  .icon-flavor-3 {
    top: 56%;
    left: 3%;
    width: 70px;
  }
}
@media only screen and (max-width: 414px) {
  .icon-flavor-3 {
    top: 64%;
    left: 6%;
    width: 40px;
  }
}

.icon-flavor-4 {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
@media only screen and (max-width: 992px) {
  .icon-flavor-4 {
    width: 80px;
    left: 16%;
  }
}
@media only screen and (max-width: 414px) {
  .icon-flavor-4 {
    width: 60px;
    left: 10%;
  }
}

.icon-flavor-5 {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
@media only screen and (max-width: 992px) {
  .icon-flavor-5 {
    width: 80px;
    bottom: 13%;
    right: 13%;
  }
}
@media only screen and (max-width: 414px) {
  .icon-flavor-5 {
    width: 60px;
    bottom: 9%;
    right: 8%;
  }
}

.btn-flavor {
  background-color: #6a794e;
  color: #fff;
  border-radius: 36px;
  padding: 8px 34px;
}
.btn-flavor:hover {
  color: #fff;
  font-weight: 600;
}

.flavor-slick {
  position: relative;
  height: auto !important;
}
.flavor-slick .prev_arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -60%);
  cursor: pointer;
  background: #ffc567;
  z-index: 9;
  border-radius: 12px;
  width: 40px;
  height: 69px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  line-height: 69px;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .flavor-slick .prev_arrow {
    transform: translate(0, -90%);
    width: 20px;
    height: 49px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 810px) {
  .flavor-slick .prev_arrow {
    transform: translate(0, -50%);
  }
}
@media only screen and (max-width: 576px) {
  .flavor-slick .prev_arrow {
    width: 40px;
    height: 69px;
    font-size: 40px;
  }
}
.flavor-slick .next_arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -60%);
  cursor: pointer;
  background: #ffc567;
  z-index: 9;
  border-radius: 12px;
  width: 40px;
  height: 69px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  line-height: 69px;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .flavor-slick .next_arrow {
    transform: translate(0, -90%);
    width: 20px;
    height: 49px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 810px) {
  .flavor-slick .next_arrow {
    transform: translate(0, -50%);
  }
}
@media only screen and (max-width: 576px) {
  .flavor-slick .next_arrow {
    width: 40px;
    height: 69px;
    font-size: 40px;
  }
}
.flavor-slick .slide-table {
  height: 605px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .flavor-slick .slide-table {
    height: 427px !important;
  }
}

.description {
  border: 5px solid #fffdfd;
  border-radius: 20px;
  padding: 10px;
}
.description p {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .modal-home-mobile {
    max-width: 90% !important;
  }
}

.slide-table.slick-slide {
  height: 605px !important;
}

.slick-slide.slick-current.slick-active {
  width: 475px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=flavor.compiled.css.map */